<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="Topevery.Framework.CommonModel.Configuration.RuntimeSection" type="Topevery.Framework.CommonModel.Configuration.RuntimeSection,Topevery.Framework.CommonModel" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="topevery.data" type="Topevery.Framework.Data.Configuration.DataConfigurationSection,Topevery.Framework.Data" />
    <sectionGroup name="topevery.serviceModel" type="Topevery.Framework.ServiceModel.Configuration.ServiceModelSectionGroup,Topevery.Framework.ServiceModel">
      <section name="serviceGroups" type="Topevery.Framework.ServiceModel.Configuration.ServiceGroupsSection,Topevery.Framework.ServiceModel" />
    </sectionGroup>
    <section name="topevery.fmp" type="Topevery.FMP.ObjectModel.Configuration.FMPConfigurationSection,Topevery.FMP.ObjectModel" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <system.transactions>
      <defaultSettings timeout="02:30:00" />
  </system.transactions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="PMILOGIN" value="http://192.168.1.250/Topevery.Basis.Web/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebUrl" value="http://192.168.1.250:811/" />
    <add key="JMGFBankCard" value="2012002819024904096" />
    <add key="ExportBankFileName" value="000000000005789001"/>
    <add key="SSOPath" value="~/SSO/SSOSites.xml" />
    <add key="Key" value="5dI2LJtk/z/gIEa0XsN66lASdvNHBmUV" />
    <add key="IV" value="CUvO+iL253Q=" />
    <add key="SameMonthReceivableRentsWorker" value="84600000" />
    <add key="SearchHistoryRecord" value="84600000" />
    <add key="ucName" value="test" />
    <add key="ucPw" value="test" />
    <add key="ucConnId" value="-25" />
  </appSettings>
  <connectionStrings>
   <!-- <add name="Default" connectionString="Server=localhost; Database=Topevery; Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <add name="Default" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=TYUM_FS;Password=dev_tyum_fs;Data Source=PublicHouse;Persist Security Info=True;" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="auto" uiCulture="auto" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" executionTimeout="90" maxRequestLength="40960000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <customErrors mode="RemoteOnly">
    </customErrors>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.36.0" newVersion="1.1.36.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.DynamicFilters" publicKeyToken="146423a1b8d60775" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.11.0" newVersion="1.4.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Topevery.Framework.CommonModel.Configuration.RuntimeSection>
    <ApplicationModuleCollection>
      <ApplicationModule Name="Topevery.WF.Framework">
        <SettingCollection>
          <Setting Key="DbType" Value="Oracle" />
        </SettingCollection>
      </ApplicationModule>
    </ApplicationModuleCollection>
  </Topevery.Framework.CommonModel.Configuration.RuntimeSection>
  <topevery.data>
    <dataGroups>
      <dataGroup name="topevery.fmp" database="fmpDatabase">
        <dataProviders>
          <dataProvider name="RecordLocked" type="Topevery.FMP.Data.OracleClient.OracleRecordLockedDataProvider,Topevery.FMP.Data" />
          <dataProvider name="FileStorageProvider" type="Topevery.FMP.Data.OracleClient.OracleFileStorageProviderDataProvider,Topevery.FMP.Data" />
        </dataProviders>
      </dataGroup>
    </dataGroups>
  </topevery.data>
  <topevery.serviceModel>
    <serviceGroups>
      <serviceGroup name="topevery.fmp">
        <client baseAddress="http://192.168.1.250/JM.FMP/">
          <securityToken userName="userName" password="userName" />
          <service name="RemoteFileStorage" type="Topevery.FMP.ObjectModel.Web.HttpRemoteFileStorageProxy,Topevery.FMP.ObjectModel" />
        </client>
      </serviceGroup>
    </serviceGroups>
  </topevery.serviceModel>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="PublicHouse" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.1.250)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PublicHouse))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendSMSSoapBinding" />
        <binding name="RegisterSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.105.212.146:8080/jboss-net/services/SendSMS" binding="basicHttpBinding" bindingConfiguration="SendSMSSoapBinding" contract="SendSMS.SendSMS" name="SendSMS" />
      <endpoint address="http://202.105.212.146:8080/jboss-net/services/Register" binding="basicHttpBinding" bindingConfiguration="RegisterSoapBinding" contract="RegisterSMS.Register" name="Register" />
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>